.expenses {
  background-color: #2a2a2a;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
}

.noExpenseContent {
  color: white;
  text-align: center;
  font-weight: bold;
}
